<div>
  <h1>メドピア開発ブログ: Vue.jsとRailsの最適な融合を考える</h1>
  <h2>サンプルコード</h2>
  <ol>
    <li>
      <%= link_to 'Ajax通信時にCSRFトークンをどう設定すればいいか?', controller: 'chapter1', action: "index" %>
    </li>
    <li>
      <%= link_to '単一ファイルコンポーネントで書くHTMLをもっと効率よく書けないか?', controller: 'chapter2', action: "index" %>
    </li>
    <li>
      <%= link_to '単一ファイルコンポーネントを使うべき状況は?', controller: 'chapter2', action: "index" %>
    </li>
  </ol>
</div>
